---
---

@import"{{ site.theme }}";
.page-header{
color:#ffff;
background-color:#C478F3;
background-image:linear-gradient(120deg,#5A0585,#5A0585);
font-family: "Arial", "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
}
.page-body{
  color: #5A0585;
}
