---
---
$table-border-color: #ffffff !default;
$section-headings-color: #5A0585 !default;
$section-font-family: Roboto !default;
$header-heading-color: #5A0585 !default;
@import"{{ site.theme }}";
.page-header{
color:#5A0585;
background-color:#C478F3;
background-image:linear-gradient(120deg,#ffff,#ffff);
font-family: Roboto Thin, Helvetica, Arial, "Open Sans", sans-serif;
font-weight: 100;
}

// .noborder { border: none; }
// #content table { border: 1px solid #000000; }
// table {border: none;}
table{
    table-layout: fixed;
    width: 300px;
}